extends ../layout

block content
    .container
        .row
            .col-md-12
                a.btn.btn-default(href='/role/add') 添加角色
                table.table
                    thead
                        tr
                            th 标题
                            th 创建时间
                            th 操作
                    tbody
                        - each role in roles
                            tr
                                td
                                    a(href='role/#{role.id}') #{role.name}
                                td
                                    | #{moment(role.created).format('LLL')}
                                td
                                    a.btn.btn-default.btn-xs(href='role/#{role.id}/edit') 编辑
                                    | &nbsp;
                                    a.btn.btn-danger.btn-xs(href='role/#{role.id}/del') 删除
