extends ../layout

block content
    .container
        .row
            .col-md-12
                a.btn.btn-default(href='/content/add') 添加内容
                .lists
                    - each content in contents
                        .item
                            h2
                                a(href='content/#{content.id}') #{content.title}
                            .post-author
                                if (content.author)
                                    strong #{content.author.name}
                                span 发表于： #{moment(content.created).format('LLL')}
                            .post-action
                                a.btn.btn-default.btn-xs(href='content/#{content.id}/edit') 编辑
                                | &nbsp;
                                a.btn.btn-danger.btn-xs(href='content/#{content.id}/del') 删除
                            p.lead #{content.content}
