extends ../layout

block content
    .row
        .col-md-12
            a.btn.btn-info.J_post(href='#{adminDir}/notification/add') 发私信
            table.table.table-striped
                thead
                    tr
                        th 内容
                        th 来自
                        th 发给
                        th 时间
                        th 操作
                tbody
                    - each notification in notifications
                        tr
                            td
                                | #{notification.content}
                            td #{notification.from.username}
                            td #{notification.to.username}
                            td
                                | #{moment(notification.created).format('LLL')}
                            td
                                a.btn.btn-danger.btn-xs.J_del(href='#{adminDir}/notification/#{notification.id}/del') 删除
            if (pageInfo && pageInfo.totalPage > 1)
                include ../mixin
                +pagination(pageInfo)

block foot-js
    script.
        var token = '#{token}';
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
            theme: 'flat'
        };
        $(document).on('click', '.J_post', function(e) {
            e.preventDefault();
            var $this = $(this);
            var url = $this.attr('href');
            $.post(url, {
                _csrf: token,
                from: '53b6ca419dfe0cf41ccbaf96',
                to: '53b6d3cbcb1ee9480d560d04',
                content: 'fewajfoewajo'
            }, function(json) {
                console.log(json);
            })
        });
        $(document).on('click', '.J_del', function(e) {
            e.preventDefault();
            var $this = $(this);
            var $tr = $this.closest('tr');
            var url = $this.attr('href');
            var messenger = Messenger().post("处理中...");
            $.post(url, {_csrf: token}, function(json) {
                console.log(json);
                var status = json.status;
                if(status === true) {
                    //- Messenger().post({
                    //-     message: '删除成功',
                    //-     hideAfter: 3,
                    //-     type: 'success'
                    //- });
                    messenger.update({
                        message: '删除成功',
                        hideAfter: 3,
                        type: 'success'
                    });
                    $tr.remove();
                } else {
                    //- Messenger().post({
                    //-     message: '删除失败',
                    //-     hideAfter: 3,
                    //-     type: 'error'
                    //- });
                    messenger.update({
                        message: '删除失败',
                        hideAfter: 3,
                        type: 'error'
                    });
                }
            })
        });