extends ../layout
block head-css
    link(rel='stylesheet', href='/assets/plugins/upload/css/jquery.fileupload.css')
block content
    .row
        .col-md-12
            form(action='', method='post', enctype='multipart/form-data')
                .gallery
                    .gallery-item
                        img#J_preview(src='#{file.url}')
                        input#J_hidden(type='hidden', name='url', value='#{file.url}')
                .form-group
                    label 选择替换文件
                    div
                        span.btn.btn-success.fileinput-button
                                i.glyphicon.glyphicon-plus
                                span 选取文件
                                input#fileupload(type='file')
                        div(style='padding: 10px;')
                        div#progress.progress
                            div.progress-bar.progress-bar-success
                .form-group
                    label 描述
                    textarea.form-control(name='description', rows='8') #{file.description}
                input(type='hidden', name='_csrf', value='#{token}')
                button.btn.btn-primary(type='submit') 提交

block foot-js
    script(src='/assets/plugins/upload/js/vendor/jquery.ui.widget.js')
    script(src='/assets/plugins/load-image/js/load-image.min.js')
    //script(src='/assets/server/js/vendor/canvas-to-blob.min.js')
    script(src='/assets/plugins/upload/js/jquery.iframe-transport.js')
    script(src='/assets/plugins/upload/js/jquery.fileupload.js')
    <script src="/assets/plugins/upload/js/jquery.fileupload-process.js"></script>
    <script src="/assets/plugins/upload/js/jquery.fileupload-image.js"></script>
    <script src="/assets/plugins/upload/js/jquery.fileupload-audio.js"></script>
    <script src="/assets/plugins/upload/js/jquery.fileupload-video.js"></script>
    <script src="/assets/plugins/upload/js/jquery.fileupload-validate.js"></script>

    script.
        $(function () {
            $('#fileupload').fileupload({
                //url: '/upload',
                url: '/admin/file/add',
                paramName: 'files[]',//防止影响表单提交
                formData: {
                    _csrf: '#{token}',
                    id: '#{file.id}'
                },
                dataType: 'json',
                progressall: function(e, data) {
                    //console.log(e, data);
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                    );
                },
                done: function (e, data) {
                    $('#progress .progress-bar').css(
                        'width',
                        '0%'
                    );
                    $.each(data.result.files, function (index, file) {
                        console.log(file)
                        //$('<img src="' + file.url + '"/>').appendTo(document.body);
                        $('#J_hidden').val(file.url);
                        $('#J_preview').attr('src', file.url);
                    });
                }
            });
        });