extends ../layout

block content
    .container
        .row
            .col-md-12
                a.btn.btn-default(href='#{adminDir}/file/add') 添加文件
                table.table.table-striped
                    thead
                        tr
                            th 名称
                            th 创建人
                            th 类型
                            th 创建时间
                            th 操作
                    tbody
                        - each file in files
                            tr
                                td
                                    .gallery
                                        a(href='#{file.url}')
                                            img(src='#{file.url}')
                                            span #{file.name}
                                td
                                    if (file.author)
                                        | #{file.author.username}
                                    else
                                        | 无
                                td #{file.type}
                                td
                                    | #{moment(file.created).format('LLL')}
                                td
                                    a.btn.btn-default.btn-xs(href='#{adminDir}/file/#{file.id}/edit') 编辑
                                    | &nbsp;
                                    if (file.status !== -1)
                                        a.btn.btn-danger.btn-xs(href='#{adminDir}/file/#{file.id}/del') 删除
                if (pageInfo && pageInfo.totalPage > 1)
                    include ../page
                    +pagination(pageInfo)