extends ../layout

block content
    .row
        .col-md-12
            .panel.panel-primary
                .panel-heading
                    | Profile
                ul.list-group
                    li.list-group-item
                        .row
                            .col-md-2
                                - var avatar = user.avatar || gravatar.url(user.email, {s: '100',r: 'x',d: 'retro'}, true)
                                img.img-circle(src='#{avatar}', alt='', width='100', height='100')
                            .col-md-10
                                a(href='#{adminDir}/me/edit', title='edit', style='line-height: 100px;')
                                    span.glyphicon.glyphicon-edit
                    li.list-group-item
                        .row
                            .col-md-2
                                strong ID
                            .col-md-10
                                | #{user.id}
                    li.list-group-item
                        .row
                            .col-md-2
                                strong Username
                            .col-md-10
                                | #{user.username}
                    li.list-group-item
                        .row
                            .col-md-2
                                strong Name
                            .col-md-10
                                | #{user.name}
                    li.list-group-item
                        .row
                            .col-md-2
                                strong Email
                            .col-md-10
                                | #{user.email}
                    li.list-group-item
                        .row
                            .col-md-2
                                strong Mobile
                            .col-md-10
                                | #{user.mobile}
                    li.list-group-item
                        .row
                            .col-md-2
                                strong Birthday
                            .col-md-10
                                | #{moment(user.birthday || '').format('YYYY/MM/DD')}
                    li.list-group-item
                        .row
                            .col-md-2
                                strong Gender
                            .col-md-10
                                | #{user.gender}
                    li.list-group-item
                        .row
                            .col-md-2
                                strongRole
                            .col-md-10
                                | #{user._roles}
                    li.list-group-item
                        .row
                            .col-md-2
                                strong Actions
                            .col-md-10
                                - each action in ACTIONS
                                        | #{action.name}
                                        ul
                                            - each item in action.actions
                                                li 
                                                    label
                                                        | #{item.name} (#{item.description})
                    li.list-group-item
                        .row
                            .col-md-2
                                strong Register Date
                            .col-md-10
                                | #{moment(user.created).format('LLL')}
    .row
        .col-md-12
            .panel.panel-danger
                .panel-heading
                    | Change Password
                .panel-body
                    form.form-horizontal(action='#{adminDir}/me/updatepwd', method='post')
                        .form-group
                            label.col-md-2.text-right Old Password
                            .col-md-4
                                input.form-control(type='password', name='oldpassword')
                        .form-group
                            label.col-md-2.text-right New Password
                            .col-md-4
                                input.form-control(type='password', name='password')
                        .form-group
                            label.col-md-2.text-right Confirm New Password
                            .col-md-4
                                input.form-control(type='password', name='repassword')
                        input(type='hidden', name='_csrf', value='#{token}')
                        .form-group
                            .col-md-4.col-md-offset-2
                                button.btn.btn-primary(type='submit') Submit

                    

                    

