extends ../layout

block content
    .row
        .col-md-12
            .lists
                a.btn.btn-info(href='#{adminDir}/user/add') 添加用户
                table.table.table-striped
                    thead
                        tr
                            th 用户名 
                            th 姓名
                            th 角色
                            th 创建人
                            th 创建日期
                            th 操作
                    tbody
                        - each user in users
                            tr
                                td 
                                    a(href='#{adminDir}/user/#{user.id}', title='#{user.email}') #{user.username}
                                td #{user.name}
                                td
                                    if (user.roles)
                                        - each role in user.roles
                                            span.label.label-info
                                                | #{role.name}
                                            | 
                                td
                                    if (user.author)
                                        | #{user.author.username}
                                    else
                                        | 无
                                td #{moment(user.created).format('LLL')}
                                td 
                                    a.btn.btn-default.btn-xs(href='#{adminDir}/user/#{user.id}/edit') 编辑
                                    |  
                                    if (user.status !== 101)
                                        a.btn.btn-danger.btn-xs.J_del(href='#{adminDir}/user/#{user.id}/del') 删除
                if (pageInfo && pageInfo.totalPage > 1)
                    include ../mixin
                    +pagination(pageInfo)

block foot-js
    script(src='/assets/plugins/jquery.form/jquery.form.js')
    script.
        var token = '#{token}';
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
            theme: 'flat'
        };
        $(function() {
            $(document).on('click', '.J_del', function(e) {
                e.preventDefault();
                var $this = $(this);
                var url = $this.attr('href');
                var messenger = Messenger().post("处理中...");
                $.post(url, {_csrf: token}, function(res) {
                    console.log(res);
                    var status = res.status;
                    if (status) {
                        messenger.update({
                            message: '删除成功',
                            hideAfter: 3,
                            type: 'success'
                        });
                        setTimeout(function() {
                            $this.closest('tr').remove();
                        }, 1000)
                        
                    } else {
                        messenger.update({
                            message: '删除失败',
                            hideAfter: 3,
                            type: 'error'
                        });
                    }
                })
            })
        })