extends ../layout

block content
    .container
        .row
            .col-md-12
                .lists
                    //a.btn.btn-default(href='#{adminDir}/user/register') 添加用户
                    table.table.table-striped
                        thead
                            tr
                                th 用户名 
                                th Email
                                th Name
                                th 创建日期
                                th 操作
                        tbody
                            - each user in users
                                tr
                                    td 
                                        a(href='#{adminDir}/user/#{user.id}') #{user.username}
                                    td #{user.email}
                                    td #{user.name}
                                    td #{moment(user.created).format('LLL')}
                                    td 
                                        a.btn.btn-default.btn-xs(href='#{adminDir}/user/#{user.id}/edit') 编辑
                                        |  
                                        a.btn.btn-danger.btn-xs(href='#{adminDir}/user/#{user.id}/del') 删除
