extends ../layout
block head-css
    link(rel='stylesheet', href='/assets/plugins/autocomplete/jquery.autocomplete.css')
block content
    .row
        .col-md-12
            a.btn.btn-info.J_post(href='#{adminDir}/page/add') 新增页面
            table.table.table-striped
                thead
                    tr
                        th 标题
                        th 内容
                        th 时间
                        th 操作
                tbody
                    - each page in pages
                        tr
                            td 
                                a(href='#{adminDir}/page/#{page.id}')
                                    | #{page.title}
                            td
                                | #{page.content}
                            td #{moment(page.created).format('LLL')}
                            td
                                a.btn.btn-danger.btn-xs.J_del(href='#{adminDir}/page/#{page.id}/del') 删除
            if (pageInfo && pageInfo.totalPage > 1)
                include ../mixin
                +pagination(pageInfo)
    script#J_tmpl_add(type='x-tmpl-mustache')
        .form-group
            label 标题
            input.form-control(name='title')
        .form-group
            label 内容
            textarea.form-control(rows='4', name='content')
block foot-js
    script(src='/assets/plugins/autocomplete/jquery.autocomplete.js')
    script.
        var user = !{JSON.stringify(User)};
        var token = '#{token}';
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
            theme: 'flat'
        };
        $(document).on('click', '.J_post', function(e) {
            e.preventDefault();
            var $this = $(this);
            var url = $this.attr('href');
            var request = function(title, content, dialog) {
                $.post(url, {
                    _csrf: token,
                    title: title,
                    content: content
                }, function(json) {
                    console.log(json);
                    dialog.close();
                    BootstrapDialog.alert(json.message);
                });
            };
            
            var $dialog = BootstrapDialog.show({
                title: '新增页面',
                message: $('<div/>').append($('#J_tmpl_add').html()),
                buttons: [
                    {
                        label: '提交',
                        cssClass: 'btn-primary',
                        action: function(dialog) {
                            console.log(dialog)
                            var title = dialog.$modalBody.find('input').val();
                            var content = dialog.$modalBody.find('textarea').val();
                            request(title, content, dialog);
                        }
                    },
                    {
                        label: '取消',
                        action: function(dialogItself) {
                            dialogItself.close();
                        }
                    }
                ]
            });
            $dialog.$modalBody.find('input').AutoComplete({
                'data': '#{core.translateAdminDir("/user/query"))',
                //'async': true,
                'ajaxType': 'GET',
                'ajaxDataType': 'json',
                'width': 'auto',
                afterSelectedHandler: function(data) {
                    console.log(data)
                },
                'onerror': function(msg){alert(msg);}
            });
        });

        $(document).on('click', '.J_del', function(e) {
            e.preventDefault();
            var $this = $(this);
            var $tr = $this.closest('tr');
            var url = $this.attr('href');
            var messenger = Messenger().post("处理中...");
            $.post(url, {_csrf: token}, function(json) {
                console.log(json);
                var status = json.status;
                if(status === true) {
                    //- Messenger().post({
                    //-     message: '删除成功',
                    //-     hideAfter: 3,
                    //-     type: 'success'
                    //- });
                    messenger.update({
                        message: '删除成功',
                        hideAfter: 3,
                        type: 'success'
                    });
                    $tr.remove();
                } else {
                    //- Messenger().post({
                    //-     message: '删除失败',
                    //-     hideAfter: 3,
                    //-     type: 'error'
                    //- });
                    messenger.update({
                        message: '删除失败',
                        hideAfter: 3,
                        type: 'error'
                    });
                }
            })
        });