extends ../layout

block content
    .row
        .col-md-12
            form(action='', method='post')
                .form-group
                    label 名称
                    input.form-control(name='name', value='#{role.name}')
                .form-group
                    label 权限
                    input.form-control(name='actions', placeholder='逗号分割', value='#{role.actions}')
                    //- .row
                    //-     - each action in role.actions
                    //-         .col-md-1
                    //-             input.form-control(name='actions', value='#{action}')
                .form-group
                    label 描述
                    textarea.form-control(name='description', rows='8') #{role.description}
                input(type='hidden', name='_csrf', value='#{token}')
                button.btn.btn-primary(type='submit') 提交

