extends ../layout

block content
    .row
        .col-md-12
            form(action='', method='post')
                .form-group
                    label Name
                    input.form-control(name='name', value='#{category.name}')
                .form-group
                    label Flag
                    input.form-control(name='flag', value='#{category.flag}')
                .form-group
                    label Parent
                    select.form-control.input-sm(name='parent')
                        option(value='') Empty
                        - each item in items
                            if (item.id + '') === (category.parent + '')
                                option(value='#{item.id}', selected) #{item.name}
                            else
                                option(value='#{item.id}') #{item.name}
                .form-group
                    label Description
                    textarea.form-control(name='description', rows='8') #{category.description}
                input(type='hidden', name='_csrf', value='#{token}')
                button.btn.btn-primary(type='submit') Submit

block foot-js
    script.
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
            theme: 'flat'
        };
        $(function() {
            var messenger;
            $('form').ajaxForm({
                beforeSerialize: function() {
                    console.log('beforeSerialize')
                },
                beforeSubmit: function() {
                    console.log('beforeSubmit')
                    messenger = Messenger().post("Processing...");
                },
                success: function(data, status, xhr, $form) {
                    console.log(data)
                    var status = data.status;
                    if (status) {
                        messenger.update({
                            message: 'Success',
                            hideAfter: 3,
                            type: 'success'
                        });
                    } else {
                        messenger.update({
                            message: 'Failure',
                            hideAfter: 3,
                            type: 'success'
                        });
                    }
                },
                err: function() {
                    console.log('error')
                    messenger.update({
                        message: 'System Error',
                        hideAfter: 3,
                        type: 'success'
                    });
                }
            })
        })
