mixin item(comment)
    li.media
        a.pull-left
            - var avatar = gravatar.url(comment.email || '', {s: '40',r: 'x',d: 'retro'}, true)
            img.media-object(src='#{avatar}')
        .media-body
            //h4.media-heading 标题
            p #{comment.content}
            .media-meta(data-id='#{comment._id}', data-reply='#{comment.reply || ""}')
                | #{moment(comment.created).fromNow()} 
                a.J_reply(href='javascript:') 回复
            
            //if(comment.comments)
                ul.media-list
                    each comment1 in comment.comments
                        +item(comment1)