extends layout

block content
    .ui.body
        .ui.container
            .ui.items
                each comment in comments
                    h2 #{comment.content}
                    p
                        if (comment.author)
                            strong
                                | #{comment.author.name} 
                        | Time 
                        | #{moment(comment.created).format('LLL')}
                        p From
                            if (comment.from)
                                a(href='/content/#{comment.from._id}') #{comment.from.title}
            
            .ui.center.aligned
                if (pageInfo && pageInfo.totalPage > 1)
                    - pageInfo.query = query
                    include ./mixin
                    +pagination(pageInfo)
block foot-js
    script.
        var token = '#{token}';
        
        
        
                
