extends layout

block content
    .ui.body
        .ui.stackable.grid.container
            if (key)
                .search-area
                    | Search
                    strong "#{key}" 
                    | has 
                    strong #{total} 
                    | results
            .row
                .twelve.wide.column
                    .ui.divided.items
                        each content in contents
                            .item
                                if (content.gallery && content.gallery.length > 0)
                                    - var file = content.gallery[0]
                                    - var url = file.type.indexOf('video') > -1 ? file.covers && file.covers[0] : (file.sm_url || file.url)
                                    if (url)
                                        .image
                                            img(src='#{url}')
                                .content
                                    a.ui.large.header(href='/content/#{content._id}') #{content.title} 
                                    //- .meta
                                        .cinema 
                                    .description
                                        - var text = content.content.substr(0, 100);
                                        p #{text}
                                    .extra
                                        if (content.up > 0)
                                            i.arrow.alternate.circle.up.outline.icon
                                        .ui.label
                                            | #{moment(content.created).fromNow()}
                                            if (content.author)
                                                .detail @#{content.author.name}
                                        .ui.label
                                            | Comments:
                                            .detail #{content.comments && content.comments.length}
                                        .ui.label 
                                            | Visits:
                                            .detail #{content.visits}
                    .ui.center.aligned
                        if (pageInfo && pageInfo.totalPage > 1)
                            - pageInfo.query = query
                            include ./mixin
                            +pagination(pageInfo)
                .four.wide.column
                    .ui.right-search
                        form(action='/', method='get')
                            .ui.icon.input(style='width: 100%;')
                                input(type="text", name="key", id="key", value="", required="required")
                                i.search.icon
                    .sixteen.wide
                        .ui.segment
                            .ui.header New
                            .ui.selection.list
                                each item in newest
                                    .item
                                        .content
                                            a.header(href='/content/#{item.id}') #{item.title}
                                            .description
                                                | #{moment(item.created).fromNow()}
                        .ui.segment
                            .ui.header Hot
                            .ui.selection.list
                                each item in hotest
                                    .item
                                        .content
                                            a.header(href='/content/#{item.id}') #{item.title}
                                            .description heat #{item.visits}
block foot-js
    script.
