extends layout

block welcome
    .welcome
        .ui.text.container
            h1.ui.inverted.header 等待也是一种美...
            h2 
            .ui.huge.primary.button
                | quick start
                i.right.arrow.icon
block content
    .ui.body
        .ui.grid.container
            if (key)
                .search-area
                    | 搜索 
                    strong "#{key}" 
                    | 共有 
                    strong #{total} 
                    | 条结果
            .row
                .twelve.wide.column
                    .ui.divided.items
                        each content in contents
                            .item
                                if (content.gallery && content.gallery.length > 0)
                                    .image
                                        img(src='#{content.gallery[0].url}')
                                .content
                                    a.ui.large.header(href='/content/#{content._id}') #{content.title}
                                    .meta
                                        .cinema 
                                    .description
                                        - var text = strip(md(content.content)).substr(0, 100);
                                        p #{text}
                                    .extra
                                        if (content.author)
                                            .ui.label #{content.author.name}
                                        .ui.label
                                            | 发表于：#{moment(content.created).fromNow()}
                                        .ui.label
                                            | 评论:#{content.comments && content.comments.length}
                                        .ui.label 访客:#{content.visits}
                    .ui.center.aligned
                        if (pageInfo && pageInfo.totalPage > 1)
                            include ./mixin
                            +pagination(pageInfo)
                .four.wide.right.floated.column
                    .ui.right-search
                        form(action='/', method='get')
                            .ui.action.input
                                input(type="text", name="key", id="key", value="", required="required")
                                button.ui.button(type="submit") 搜索
                    .sixteen.wide
                        .ui.segment
                            .ui.header 最新内容
                            .ui.middle.aligned.selection.list
                                each item in newest
                                    .item
                                        .content
                                            a.header(href='/content/#{item.id}') #{item.title}
                                            .description
                        .ui.segment
                            .ui.header 最热内容
                            .ui.middle.aligned.selection.list
                                each item in hotest
                                    .item
                                        .content
                                            a.header(href='/content/#{item.id}') #{item.title}
                                            .description
block foot-js
    script.
        
