extends layout

block content
    .container
        each content in contents
            h2 #{content.title}
            p
                if (content.author)
                    strong
                        | #{content.author.name} 
                | 发布于 
                | #{moment(content.created).format('LLL')}
            .content
                | #{content.content}
            .comment(data-from='#{content.id}')
                .row
                    .col-md-4
                        textarea.form-control.J_textarea(name='content')
                .row
                    .col-md-4
                        button.btn.btn-info.btn-xs.J_submit(value='提交') 提交
        .text-center
            if (pageInfo && pageInfo.totalPage > 1)
                include ./page
                +pagination(pageInfo)
block foot-js
    script.
        var token = '#{token}';
        $(document).on('click', '.J_submit', function() {
            var $this = $(this);
            var $item = $this.closest('.comment');
            var cid = $item.attr('data-from');
            var content = $item.find('.J_textarea').val();
            console.log(cid, content);
            var data = {
                from: cid,
                content: content,
                _csrf: token
            };
            $.post('/comment/add', data, function(json) {
                console.log(json);
            });
        });
        
        
                
