doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href='/assets/plugins/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/assets/css/style.css')
        block head-css
        block head-js
    body
        .cms-masthead
            .container
                .cms-nav
                    .pull-right.admin-link
                        if (User)
                            | #{User.name} 
                            a(href='#{adminDir}/user/logout') 注销
                        else
                            a(href='#{adminDir}') 后台管理
                    a.cms-nav-item(class=!Path ? 'active' : '',href='/') 首页
                    a.cms-nav-item(class=Path === 'content' ? 'active' : '',href='/content') 内容
                    a.cms-nav-item(class=Path === 'comment' ? 'active' : '',href='/comment') 评论
        block content
        script(src='/assets/js/vendor/jquery-2.1.1.min.js')
        script(src='/assets/plugins/bootstrap/js/bootstrap.min.js')
        script(src='/assets/js/vendor/mustache.js')
        script(src='/assets/js/vendor/moment-with-langs.js')
        block foot-js
        script.
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3a258fabccde554fc44cba951692bdde' type='text/javascript'%3E%3C/script%3E"));