doctype html
html
    head
        title #{title}
        meta(name="viewport",content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0")
        link(rel='stylesheet', href='/assets/plugins/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/assets/app/css/style.css')
        block head-css
        block head-js
    body
        //header#header
            .navbar.navbar-static-top(role='banner')
                .container
                    .header-section
                        .navbar-header
                            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            a.navbar-brand(href='/') wenglou
                        .navbar-collapse.collapse
                            ul.nav.navbar-nav.navbar-right
                                li
                                    a(href='/admin') 管理后台
                            
        .cms-masthead
            .container
                .cms-nav
                    .pull-right.admin-link
                        if (User)
                            a(href='#{adminDir}')
                                | #{User.name}
                            | 
                            a(href='#{adminDir}/user/logout') 注销
                        else
                            //a(href='#{adminDir}') 后台管理
                    a.cms-nav-item(class=!Path ? 'active' : '',href='/') 首页
                    //a.cms-nav-item(class='',href='/?key=css') CSS
                    //a.cms-nav-item(class=Path === 'content' ? 'active' : '',href='/content') 内容
                    //a.cms-nav-item(class=Path === 'comment' ? 'active' : '',href='/comment') 评论
        block content
        script(src='/assets/app/js/vendor/jquery-2.1.1.min.js')
        script(src='/assets/plugins/bootstrap/js/bootstrap.min.js')
        script(src='/assets/plugins/bootstrap3-dialog/js/bootstrap-dialog.min.js')
        script(src='/assets/app/js/vendor/mustache.js')
        script(src='/assets/app/js/vendor/moment-with-langs.js')
        block foot-js
        //script.
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3a258fabccde554fc44cba951692bdde' type='text/javascript'%3E%3C/script%3E"));