//- pagination module
//- pageInfo = {
//-     totalPage: 15,
//-     currentPage: 5,
//-     query: {
//-         page: 1,
//-         otherparam: 2
//-     }
//- }
mixin pagination(pageInfo)
    .ui.pagination.menu
        - var page = pageInfo
        - var totalPage = page.totalPage
        - var range = 3
        - var currentPage = Math.min(page.currentPage, page.totalPage)
        - var prevPage = (currentPage - 1) || 1
        - var nextPage = currentPage >= page.totalPage ? page.totalPage : (currentPage + 1)
        - var query = pageInfo.query || {}
        - query.page = prevPage
        a.item(class=(currentPage === 1) ? 'disabled' : '', href='?#{util.stringify(query)}') &laquo;
        if (currentPage - range >= 2)
            - query.page = 1
            a.item(class=(currentPage === 1) ? 'active' : '', href='?#{util.stringify(query)}') 1
            a.item ...
        - for (var i = 1; i <= totalPage; i ++)
            - query.page = i
            if(i >= Math.min(Math.max(currentPage - range, 1), totalPage - 2 * range) && i <= Math.max(Math.min(range + currentPage, totalPage), 2 * range))
                a.item(class=(currentPage === i) ? 'active' : '', href='?#{util.stringify(query)}') #{i}
        if (currentPage + range <= totalPage - 1 )
            a.item ...
            - query.page = totalPage
            a.item(class=(currentPage === totalPage) ? 'active' : '', href='?#{util.stringify(query)}') #{totalPage}
        - query.page = nextPage
        a.item(class=(currentPage === totalPage) ? 'disabled' : '', href='?#{util.stringify(query)}') &raquo;
//- comment module
mixin commentItem(comment, comments)
    if (comment)
        .comment.J_comment(id='#{comment._id}', data-id='#{comment._id}', data-reply='#{comment.reply || ""}')
            a.avatar
                - var avatar = gravatar.url((comment.author &&comment.author.email) || comment.email || '', {s: '40',r: 'x',d: 'retro'}, true)
                img(src='#{avatar}')
            .content
                a.author #{comment.name}
                .metadata
                    .date #{moment(comment.created).fromNow()}
                .text
                    p !{comment.content}
                .actions
                    a.reply.J_reply(href='javascript:') Reply

            if (comments)
                if (comment.comments && comment.comments.length > 0)
                    .ui.comments.J_list
                        each cid in comment.comments
                            - var c = comments.filter(function(item) {return (item._id + '') === (cid + '')})
                            +commentItem(c[0], comments)








