extends ../layout

block content
    .row
        .col-md-12
            table.table.table-striped
                thead
                    tr
                        th Content
                        th Name
                        th Mobile
                        th IP
                        th Date
                        th Operation
                tbody
                    - each message in messages
                        tr
                            td
                                a(href='#{adminDir}/message/#{message.id}') #{message.content}
                            td
                                if (message.name)
                                    | #{message.name}
                                else
                                    | Anonymous
                            td
                                | #{message.mobile}
                            td #{message.ip}
                            td
                                | #{moment(message.created).format('LLL')}
                            td
                                a.btn.btn-danger.btn-xs.J_del(href='#{adminDir}/message/#{message.id}/del') delete
            if (pageInfo && pageInfo.totalPage > 1)
                - pageInfo.query = query
                include ../mixin
                +pagination(pageInfo)

block foot-js
    script.
        var token = '#{token}';
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
            theme: 'flat'
        };
        $(document).on('click', '.J_del', function(e) {
            e.preventDefault();
            var $this = $(this);
            var $tr = $this.closest('tr');
            var url = $this.attr('href');
            var messenger = Messenger().post("Processing...");
            $.post(url, {_csrf: token}, function(json) {
                console.log(json);
                var status = json.status;
                if(status === true) {
                    //- Messenger().post({
                    //-     message: 'Success',
                    //-     hideAfter: 3,
                    //-     type: 'success'
                    //- });
                    messenger.update({
                        message: 'Success',
                        hideAfter: 3,
                        type: 'success'
                    });
                    $tr.remove();
                } else {
                    //- Messenger().post({
                    //-     message: 'Failure',
                    //-     hideAfter: 3,
                    //-     type: 'error'
                    //- });
                    messenger.update({
                        message: 'Failure',
                        hideAfter: 3,
                        type: 'error'
                    });
                }
            })
        });
