extends ../layout
block head-css
    link(rel='stylesheet', href='/assets/plugins/mditor/css/mditor.min.css')
    link(rel='stylesheet', href='//cdn.jsdelivr.net/jquery.fileupload/9.9.0/css/jquery.fileupload.css')
    style(type='text/css').
        .sortable-ghost{
            border-color: #000;
        }
block content
    .row
        .col-md-12
            form(action='', method='post')
                .form-group
                    label Title
                    input.form-control(name='title', value='#{content.title}')
                if (categorys && categorys.length > 0)
                    .form-group
                        label Category
                        select.form-control.input-sm(name='category')
                            option(value='') please select
                            - each category in categorys
                                if ((category._id + '') === (content.category + ''))
                                    option(value='#{category._id}', selected)
                                        | #{category.name}
                                else
                                    option(value='#{category._id}')
                                        | #{category.name}
                .form-group
                    label Gallery
                    .gallery#J_gallery
                        if (content.gallery)
                            - each file in content.gallery
                                - var url = file.type.indexOf('video') > -1 ? file.covers && file.covers[0] : (file.md_url || file.url)
                                .gallery-item
                                    img.gallery-image(src='#{url}')
                                    input(type='hidden', name='gallery[]', value='#{file._id}')
                                    a.gallery-remove.J_del(href='#{adminDir}/file/#{file._id}/del')
                                        span.fa.fa-times-circle
                    span.btn.btn-success.fileinput-button
                        i.glyphicon.glyphicon-plus
                        span Add
                        input#fileupload(type='file', name='files[]', multiple='multiple')
                    #J_files
                    div#progress.progress
                        div.progress-bar.progress-bar-success
                    #J_preview.preview
                       
                .form-group
                    label Content
                    textarea.form-control#J_editor(name='content', rows='20', style='background-color: #fff; border: none;') #{content.content}
                .form-group
                    label Tag
                    div
                        if (tags && tags.length > 0)
                            select#J_select_tags(data-placeholder='please select', name='tags[]', multiple, style='width: 500px;')
                                each tag in tags
                                    - var mytags = content.tags && content.tags.map(function(item) {return item.name;});
                                    if (mytags.indexOf(tag.name) > -1)
                                        option(value='#{tag.id}', selected) #{tag.name}
                                    else 
                                        option(value='#{tag.id}') #{tag.name}
                input(type='hidden', name='_csrf', value='#{token}')
                button.btn.btn-primary(type='submit') Submit
    script#J_tmpl_gallery_item(type='x-tmpl-mustache')
        .gallery-item
            img.gallery-image(src='{{url}}')
            input(type='hidden', name='gallery[]', value='{{id}}')
            a.gallery-remove.J_del(href='')
                span.fa.fa-times-circle


block foot-js
    script(src='/assets/plugins/mditor/js/mditor.min.js')

    script(src='//cdn.jsdelivr.net/jquery.fileupload/9.9.0/js/vendor/jquery.ui.widget.js')
    script(src='//cdn.jsdelivr.net/load-image/1.11.1/js/load-image.min.js')
    script(src='//cdn.jsdelivr.net/jquery.fileupload/9.9.0/js/jquery.fileupload.js')
    script(src='//cdn.jsdelivr.net/jquery.fileupload/9.9.0/js/jquery.fileupload-process.js')
    script(src='//cdn.jsdelivr.net/jquery.fileupload/9.9.0/js/jquery.fileupload-image.js')
    script(src='//cdn.jsdelivr.net/jquery.fileupload/9.9.0/js/jquery.fileupload-audio.js')
    script(src='//cdn.jsdelivr.net/jquery.fileupload/9.9.0/js/jquery.fileupload-video.js')
    script(src='//cdn.jsdelivr.net/jquery.fileupload/9.9.0/js/jquery.fileupload-validate.js')
    script(src='//cdn.jsdelivr.net/npm/sortablejs@1.10.2/Sortable.min.js')

    script.
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
            theme: 'flat'
        };
        
        $(function () {
            var mditor =  Mditor.fromTextarea(document.getElementById('J_editor'));
            mditor.split = false;

            $('#fileupload').fileupload({
                //url: '/upload',
                url: '/admin/file/add?_csrf=#{token}',
                formData: {
                    _csrf: '#{token}'
                },
                dataType: 'json',
                progressall: function(e, data) {
                    //console.log(e, data);
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                    ).text(progress + '%');
                },
                done: function (e, data) {
                    $('#progress .progress-bar').addClass('progress-bar-success').css(
                        'width',
                        100 + '%'
                    ).text('100%');
                    $.each(data.result.files, function (index, file) {
                        var tmpl = $('#J_tmpl_gallery_item').html();
                        var html = Mustache.render(tmpl, {
                            url: file.url,
                            id: file._id
                        });
                        $('#J_gallery').append(html);
                    });
                }
            });
            
            $('#J_gallery').on('click', '.J_del', function(e) {
                e.preventDefault()
                var $this = $(this);
                var $item = $this.closest('.gallery-item');
                swal({
                  title: 'Are you sure to delete the picture?',
                  text: 'Selecting the check box below will delete the original image',
                  type: 'question',
                  input: 'checkbox',
                  inputValue: true,
                  showLoaderOnConfirm: true,
                  showCancelButton: true,
                  confirmButtonText: 'Yes',
                  cancelButtonText: 'No',
                  preConfirm: function(checked) {
                    return new Promise(function(resolve, reject) {
                        if (checked) {
                            var id = $this.siblings('input').val();
                            var url = '/admin/file/' + id + '/del';
                            $.post(url, {
                                _csrf: '#{token}'
                            }, function(json) {
                                if(json.success) {
                                    resolve()
                                    $item.remove();
                                } else{
                                    reject('Failure')
                                }
                            });
                            
                        } else {
                            $item.remove();
                            resolve()
                        }
                    })
                  }
                }).then(function() {
                    var checked = swal.getInput().checked;
                    swal('Deleted!', '', 'success')
                }, function(dismiss) {
                  // dismiss can be 'overlay', 'cancel', 'close', 'esc', 'timer'
                })
            });

            var messenger;
            $('form').ajaxForm({
                beforeSerialize: function() {
                    console.log('beforeSerialize')
                },
                beforeSubmit: function() {
                    console.log('beforeSubmit')
                    messenger = Messenger().post("Processing...");
                },
                success: function(data, status, xhr, $form) {
                    console.log(data)
                    var status = data.status;
                    if (status) {
                        messenger.update({
                            message: 'Success',
                            hideAfter: 3,
                            type: 'success'
                        });
                    } else {
                        messenger.update({
                            message: 'Failure',
                            hideAfter: 3,
                            type: 'error'
                        });
                    }
                },
                err: function() {
                    console.log('error')
                    messenger.update({
                        message: 'System Error',
                        hideAfter: 3,
                        type: 'error'
                    });
                }
            })
        });
        new Sortable(document.querySelector('#J_gallery'), {
          ghostClass: 'sortable-ghost'
        });
