extends ../layout
block head-css
    link(rel='stylesheet', href='/assets/plugins/upload/css/jquery.fileupload.css')
block content
    .row
        .col-md-12
            form(action='', method='post')
                .form-group
                    label 标题
                    input.form-control(name='title', value='#{content.title}')
                .form-group
                    label 图集
                    .gallery
                        if (content.gallery)
                            - each image in content.gallery
                                img(src='#{image.url}')
                                input(type='hidden', name='gallery', value='#{image._id}')
                                a(href='#{adminDir}/file/#{image._id}/del') 删除
                    span.btn.btn-success.fileinput-button
                        i.glyphicon.glyphicon-plus
                        span 添加文件
                        input#fileupload(type='file', name='files[]', multiple='multiple')
                    #J_files
                    div#progress.progress
                        div.progress-bar.progress-bar-success
                    #J_preview.preview
                       
                .form-group
                    label 分类
                    select.form-control(name='category')
                        option(value='') 请选择
                        - each category in categorys
                            if ((category._id + '') === (content.category + ''))
                                option(value='#{category._id}', selected)
                                    | #{category.name}
                            else
                                option(value='#{category._id}')
                                    | #{category.name}
                .form-group
                    label 内容
                    textarea.form-control(name='content', rows='8') #{content.content}
                input(type='hidden', name='_csrf', value='#{token}')
                button.btn.btn-primary(type='submit') 提交

block foot-js
    script(src='/assets/plugins/upload/js/vendor/jquery.ui.widget.js')
    script(src='/assets/plugins/load-image/js/load-image.min.js')
    //script(src='/assets/js/vendor/canvas-to-blob.min.js')
    script(src='/assets/plugins/upload/js/jquery.iframe-transport.js')
    script(src='/assets/plugins/upload/js/jquery.fileupload.js')
    <script src="/assets/plugins/upload/js/jquery.fileupload-process.js"></script>
    <script src="/assets/plugins/upload/js/jquery.fileupload-image.js"></script>
    <script src="/assets/plugins/upload/js/jquery.fileupload-audio.js"></script>
    <script src="/assets/plugins/upload/js/jquery.fileupload-video.js"></script>
    <script src="/assets/plugins/upload/js/jquery.fileupload-validate.js"></script>

    script.
        $(function () {
            $('#fileupload').fileupload({
                //url: '/upload',
                url: '/admin/file/add',
                formData: {
                    _csrf: '#{token}'
                },
                dataType: 'json',
                progressall: function(e, data) {
                    //console.log(e, data);
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                    );
                },
                done: function (e, data) {
                    $.each(data.result.files, function (index, file) {
                        console.log(file)
                        //$('<img src="' + file.url + '"/>').appendTo(document.body);
                        $('#J_files').append('<input type="hidden" name="gallery" value="' + file._id + '"/>');
                        $('#J_preview').append('<img src="' + file.url + '"/>');
                    });
                }
            });
        });