extends ../layout
block head-css
    <link rel="stylesheet" href="/assets/plugins/blueimp-gallery/css/blueimp-gallery.css">
    <link rel="stylesheet" href="/assets/plugins/blueimp-gallery/css/blueimp-gallery-indicator.css">
block content
    .row
        .col-md-12
            .lists
                h2 #{content.title}
                p 
                    if (content.category)
                        span.label.label-default #{content.category.name}
                    | 
                    if (content.author)
                        strong #{content.author.name}
                    | 发布于：#{moment(content.created).format('LL')} 
                    | 访问量：#{content.visits}
                .gallery
                    if (content.gallery)
                        each image in content.gallery
                            .gallery-item
                                a(href='#{image.url}')
                                    img(src='#{image.url}')
                .content 
                    //- if (content.author && content.author.status === -1)
                    //-     | !{content.content}
                    //- else 
                    //-     | #{content.content}
                    | !{md(content.content)}
                .comments
                    h2 评论
                    if(content.comments)
                        ul.media-list.J_list
                            each comment in content.comments
                                - var listComment = !!comment_list
                                if(!listComment)
                                    if (!comment.reply)
                                        include ../mixin
                                        +commentItem(comment, content.comments)
                                else 
                                    include ../mixin
                                    +commentItem(comment)
    #blueimp-gallery.blueimp-gallery
        .slides
        h3.title
        a.prev ‹
        a.next ›
        a.close ×
        a.play-pause
        ol.indicator

block foot-js
    <script src="/assets/plugins/blueimp-gallery/js/jquery.blueimp-gallery.min.js"></script>
    script.
        $('.gallery a').on('click', function(e) {
            var $img = $(this);
            blueimp.Gallery($('.gallery a'), {
                index: this,
                event: e
            })
        })
