extends ../layout

block content
    .row
        .col-md-12
            .lists
                p Type：#{data.type}
                p Action：#{data.action}
                p Status：#{data.status}
                p IP：#{data.ip}
                p UA：#{data.ua}
                p User：#{data.author}
                p Message：#{data.message}
                pDate：#{data.created}
