doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
        block head-css
        block head-js
    body
        .navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                    a.navbar-brand(href='#{adminDir}/') 管理后台
                .collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li(class=!Path ? 'active' : '')
                                a(href='#{adminDir}/') 首页
                        li(class=Path === 'content' ? 'active' : '')
                                a(href='#{adminDir}/content') 内容
                        li(class=Path === 'category' ? 'active' : '')
                                a(href='#{adminDir}/category') 分类
                        li(class=Path === 'user' ? 'active' : '')
                                a(href='#{adminDir}/user') 用户
                        li(class=Path === 'role' ? 'active' : '')
                                a(href='#{adminDir}/role') 角色
                    .navbar-right
                        if (User)
                            a(href='#{adminDir}/me') #{User.name}
                            | 
                            a(href='#{adminDir}/user/logout') 注销
                        else
                            //- a(href='#{adminDir}/user/login') 登录  
                            //- a(href='#{adminDir}/user/register') 注册
        
        block content
        //- .console
        //-     if(User && User.roles)
        //-             each role in User.roles
        //-                 ul.list-group
        //-                     li.list-group-item 角色：
        //-                         span.label.label-primary #{role.name}
        //-                     li.list-group-item 权限：
        //-                         span.label.label-info #{role.actions}
        //-                     li.list-group-item 是否有'publish'权限：
        //-                         span #{role.actions.indexOf('publish') > -1}
        block foot-js
        script.
