//- pagination module
//- pageInfo = {
//-     totalPage: 15,
//-     currentPage: 5,
//-     query: {
//-         page: 1,
//-         otherparam: 2
//-     }
//- }
mixin pagination(pageInfo)
    ul.pagination
        - var page = pageInfo
        - var totalPage = page.totalPage
        - var range = 3
        - var currentPage = Math.min(page.currentPage, page.totalPage)
        - var prevPage = (currentPage - 1) || 1
        - var nextPage = currentPage >= page.totalPage ? page.totalPage : (currentPage + 1)
        - var query = pageInfo.query || {}
        - query.page = prevPage
        li(class=(currentPage === 1) ? 'disabled' : '')
            a(href='?#{util.stringify(query)}') &laquo;
        if (currentPage - range >= 2)
            - query.page = 1
            li(class=(currentPage === 1) ? 'active' : '') 
                a(href='?#{util.stringify(query)}') 1
            li 
                a ...
        - for (var i = 1; i <= totalPage; i ++)
            - query.page = i
            if(i >= Math.min(Math.max(currentPage - range, 1), totalPage - 2 * range) && i <= Math.max(Math.min(range + currentPage, totalPage), 2 * range))
                li(class=(currentPage === i) ? 'active' : '') 
                    a(href='?#{util.stringify(query)}') #{i}
        if (currentPage + range <= totalPage - 1 )
            li 
                a ...
            - query.page = totalPage
            li(class=(currentPage === totalPage) ? 'active' : '') 
                a(href='?#{util.stringify(query)}') #{totalPage}
        - query.page = nextPage
        li(class=(currentPage === totalPage) ? 'disabled' : '')
            a(href='?#{util.stringify(query)}') &raquo;
//- comment module
mixin commentItem(comment, comments)
    if (comment)
        li.media
            a.pull-left
                - var avatar = gravatar.url((comment.author &&comment.author.email) || comment.email || '', {s: '40',r: 'x',d: 'retro'}, true)
                img.media-object(src='#{avatar}')
            .media-body
                .media-heading #{comment.name}
                    span.text-muted #{moment(comment.created).fromNow()} 
                p #{comment.content}
                .media-meta(data-id='#{comment._id}', data-reply='#{comment.reply || ""}')
                    //span.text-muted #{moment(comment.created).fromNow()} 
                    a.text-primary.J_reply(href='javascript:') reply
                if(comments)
                    if (comment.comments && comment.comments.length > 0)
                        ul.media-list.J_list
                            each cid in comment.comments
                                - var c = comments.filter(function(item) {return (item._id + '') === (cid + '')})
                                +commentItem(c[0], comments)
