extends ../layout
block head-css
    link(rel='stylesheet', href='//cdn.jsdelivr.net/highlight.js/9.10.0/styles/tomorrow-night.min.css')
    link(rel='stylesheet', href='//cdn.jsdelivr.net/blueimp-gallery/2.15.0/css/blueimp-gallery.min.css')
block content
    .ui.container
        .ui.body.post
            h1.ui.header #{content.title}
            .ui
                if (content.author)
                    .ui.label
                        | Author
                        .detail #{content.author.name}
                .ui.label
                    | Time
                    .detail #{moment(content.created).format('YYYY-MM-DD HH:mm')}
                if (content.category)
                    .ui.label
                        | Category
                        .detail #{content.category.name}    
            
            .ui.basic.segment.post-content
                - var images = content.gallery
                if (images.length === 1)
                    - var image = images[0]
                    .ui.center.aligned
                        if (image.type.indexOf('video') > -1)
                          a(href='#{image.url}', type='#{image.type}')
                              video(controls src='#{image.url}')
                        else if (image.type.indexOf('image') > -1)
                          a(href='#{images[0].url}', target='_blank')
                              img.ui.fluid.image(src='#{images[0].url}')
                else if (images.length > 1) 
                    .gallery
                        if (content.gallery)
                            each image in content.gallery
                                .gallery-item(data-obj='#{image}')
                                    if (image.type.indexOf('video') > -1)
                                        if (image.covers && image.covers.length)
                                          a(href='#{image.url}', type='#{image.type}')
                                            img.lazy(data-original='#{image.covers[0]}')
                                            span.video-icon
                                        else if(image.url)
                                          a.video-empty(href='#{image.url}', type='#{image.type}')
                                              span.video-icon
                                    else if (image.type.indexOf('image') > -1)
                                        a(href='#{image.url}')
                                            img.lazy(data-original='#{image.md_url || image.url}')
                //- if (content.author && content.author.status === -1)
                //-     | !{content.content}
                //- else 
                //-     | #{content.content}
                div
                    | !{content.content}
            
            .post-comments
                h3 Comments(#{content.comments.length}) 
                            
                if(content.comments)
                    .ui.threaded.comments.J_list
                        each comment in content.comments
                            -var nested = true
                            if(nested)
                                if (!comment.reply)
                                    include ../mixin
                                    +commentItem(comment, content.comments)
                            else 
                                include ../mixin
                                +commentItem(comment)

                .ui.reply.form.J_commentForm
                    .field
                        input.J_input_name(name='name', placeholder='your name')
                    .field
                        input.J_input_email(name='email', placeholder='your email')
                    .field
                        textarea.J_textarea(name='content', placeholder='small talk')
                    .ui.primary.submit.labeled.icon.button.J_submit
                        i.icon.edit
                        | Submit
    script#J_tmpl_comment_item(type='x-tmpl-mustache')
        .comment.J_comment(data-id='{{id}}', data-reply='{{reply}}')
            a.avatar
                img(src='{{avatar}}')
            .content
                a.author {{name}}
                .metadata
                    .date {{created}}
                .text
                    p {{content}}
                .actions
                    a.reply.J_reply(href='javascript:') reply

    script#J_tmpl_comment_form(type='x-tmpl-mustache')
        .ui.reply.form.J_commentForm(data-reply='{{reply}}')
            .field(style='{{#name}}display: none;{{/name}}')
                input.J_input_name(name='name', placeholder='your name', value='{{name}}')
            .field(style='{{#email}}display: none;{{/email}}')
                input.J_input_email(name='email', placeholder='your email', value='{{email}}')
            .field
                textarea.J_textarea(name='content', placeholder='small talk')
            .ui.primary.submit.labeled.icon.button.J_submit
                i.icon.edit
                | Submit

    #blueimp-gallery.blueimp-gallery
        .slides
        h3.title
        a.prev ‹
        a.next ›
        a.close ×
        a.play-pause
        ol.indicator
block foot-js
    script(src='//cdn.jsdelivr.net/highlight.js/9.10.0/highlight.min.js')

    script(src='//cdn.jsdelivr.net/blueimp-gallery/2.15.0/js/blueimp-gallery.min.js')
    //script(src='//cdn.jsdelivr.net/blueimp-gallery/2.15.0/js/blueimp-gallery-indicator.js')
    script(src='//cdn.jsdelivr.net/jquery.lazyload/1.9.3/jquery.lazyload.min.js')
    if (User)
        script.
            var userInfo = {
                name: '#{User.name}',
                email: '#{User.email}'
            };
            localStorage.setItem('comment_user', JSON.stringify(userInfo));
    script.
        
        moment.locale('zh-cn');
        var token = '#{token}';
        var cid = '#{content._id}';
        $(document).ready(function() {
          $('pre code').each(function(i, block) {
            hljs.highlightBlock(block);
          });
        });
        $('.gallery a').on('click', function(e) {
            var $img = $(this);
            blueimp.Gallery($('.gallery a'), {
                index: this,
                event: e
            })
        });
        $(".lazy").lazyload();

        var commentUser = JSON.parse(localStorage.getItem('comment_user'));
        if (commentUser) {
            $('.J_input_name').val(commentUser.name).hide();
            $('.J_input_email').val(commentUser.email).hide();
        }
        
        $(document).on('click', '.J_submit', function() {
            var $this = $(this);
            var $form = $this.closest('.J_commentForm')
            var $list = $form.siblings('.J_list');
            var $name = $form.find('.J_input_name');
            var $email = $form.find('.J_input_email');
            var $textarea = $form.find('.J_textarea');
            var reply = $form.attr('data-reply');
            var name = $name.val();
            var email = $email.val();
            var content = $textarea.val();
            //console.log(cid, content, reply);
            if(!email) {
                alert('please input email');
                return;
            }
            if(!content) {
                alert('please leave some text');
                return;
            }
            var data = {
                from: cid,
                name: name,
                email: email,
                content: content,
                _csrf: token
            };
            if(reply) {
                data.reply = reply;
            }
            $.post('/comment/add', data, function(json) {
                console.log(json);
                if(json.success === true) {
                    var tmpl = $('#J_tmpl_comment_item').html();
                    //json.data.avatar = json.data.avatar || 'https://secure.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?s=40&r=x&d=retro';
                    json.data.created = moment(json.data.created).fromNow();
                    console.log($list.length)
                    var html = Mustache.render(tmpl, json.data);
                    if($list.length < 1) {

                        html = '<div class="ui comments J_list">' + html + '</div>'
                        console.log(html, '++++++++++++')
                        $form.after(html);
                    } else {
                        $list.append(html);
                    }

                    $textarea.val('');
                    var commentUser = {
                        name: name,
                        email: email
                    };
                    localStorage.setItem('comment_user', JSON.stringify(commentUser));
                }else{
                    alert(json.message);
                }
            });
        });
        $(document).on('click', '.J_reply', function() {
            var $this = $(this);
            var $comment = $this.closest('.J_comment');
            var $content = $comment.find('.content')
            var $list = $comment.children('.J_list');
            //var $form = $comment.find('.J_commentForm');
            var $form = $comment.children('.J_commentForm');
            var id = $comment.attr('data-id');
            var tmpl = $('#J_tmpl_comment_form').html();
            if($form.length > 0) {
                $form.toggle();
                return;
            }
            var commentUser = JSON.parse(localStorage.getItem('comment_user'));
            var data = $.extend({reply: id}, commentUser)
            if ($list.length > 0) {
                $list.before(Mustache.render(tmpl, data));
            } else {
                $content.after(Mustache.render(tmpl, data));
            }
            
        });
